# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar
composer.lock

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

/.ssh
/backups
/uploads
/runtime
/glados.sublime-workspace
/glados.sublime-project
#/web/assets
/web/docs

/config/auth.php
/config/auth_backup.php