[Desktop Entry]
Name=Glados
Comment=Exam management over web
Exec=sensible-browser http://localhost/glados/
Terminal=false
Type=Application
Categories=Database;
